@model scisaASP_MVC.Models.productos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>productos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idProducto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idProducto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idCategoriaP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idCategoriaP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nombreCategoria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombreCategoria)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idProducto }) |
        @Html.ActionLink("Regresar a la tabla", "Index")
    </p>
</body>
</html>
